@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	scroll-behavior: smooth;
}

/* Large secreen media query */
@media (min-width: 640px) {
	* {
		font-size: 16px;
	}
	.main {
		width: min(81.25rem, 90%);
		margin: 0 auto;
	}
	.hero {
		display: flex;
		justify-content: space-between;
		margin: 8rem 0;
		align-items: center;
		gap: 6rem;
	}
	.hero_title {
		line-height: 4rem;
		font-size: 3rem;
	}
	.capabilities_features {
		grid-template-columns: 1fr 1fr;
	}
	.capabilities_title {
		font-size: 3rem;
		line-height: 4rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
	}
	.indebth__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}
	.client__review-grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0.5rem;
		grid-row-gap: 0rem;
		margin: 5rem 2rem;
	}
	.client__review-column {
		gap: 0.5rem;
	}
	.review-1 {
		width: 18.25rem;
	}
	.review-2 {
		width: 18.25rem;
	}
	.review-3 {
		display: flex;
		gap: 0.75rem;
	}
	.client__review1 {
		width: 12.5rem;
	}
	.client__image-3 {
		max-width: 19rem;
	}
	.faq_question {
		line-height: 1rem;
	}
	.faq_title {
		font-size: 3rem;
		line-height: 4rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
	}
	.footer__feedback {
		width: min(90%, 24.5rem);
	}
	.footer {
		padding: 4rem 10rem;
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
		background-color: #1f2937;
		border-radius: 0.25rem;
	}
	.test-library__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 639px) {
	.main {
		padding: 0 0.5rem;
	}
	.nav_link {
		display: none;
	}
	.navbar_user span {
		display: none;
	}
	.goto_dashboard {
		flex-direction: column;
		gap: 0.5rem;
	}
	.hero {
		margin: 2.5rem 0;
	}
	.hero_title {
		text-align: center;
		font-size: 2rem;
		line-height: 2.5rem;
	}
	.hero_details {
		text-align: center;
	}
	.hero_description {
		text-align: center;
	}
	.capabilities_title {
		text-align: center;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1rem;
	}
	.faq {
		padding: 0 1rem;
	}
	.faq_question {
		line-height: 2rem;
	}
	.faq_title {
		text-align: center;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1rem;
	}
	.faq_details {
		text-align: center;
	}
	.hero_image {
		width: 90%;
		margin: 1rem auto;
	}
	.hero_image-section {
		display: flex;
		justify-content: center;
	}
	.client__review-card {
		margin: 1rem;
	}
	.footer__section {
		background-color: #1f2937;
		padding: 1rem;
	}
	.footer__feedback {
		margin: 0 auto;
		height: 40rem;
	}
	.test-library__grid {
		place-content: center;
	}
	.test__card {
		margin: 0 auto;
	}
	.client__image-3 {
		max-width: 100%;
	}
	.test-library__grid {
		grid-template-columns: 1fr;
	}
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2.5rem;
	align-items: center;
	box-shadow: 0.1rem 0.1rem 0.6rem #6b7280;
}
.navbar_links {
	display: flex;
	gap: 2rem;
	align-items: center;
}
.nav_link {
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: 600;
	color: #6b7280;
	line-height: 1.5rem;
}
.active_link {
	color: #0f766e;
	position: relative;
}
.active_link::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	background-color: #0f766e;
	width: 100%;
	height: 0.2rem;
}
.navbar_user {
	display: flex;
	gap: 2rem;
	align-items: center;
}
.navbar_user span {
	font-size: 1.125rem;
}
.navbar_button {
	border: 0.125rem solid #d1d5db;
	border-radius: 0.25rem;
	background-color: white;
	padding: 0.625rem;
	font-size: 1.125rem;
	font-weight: 400;
	cursor: pointer;
}

/* Main section */

/* Goto section */
.goto_dashboard {
	background-color: #1f2937;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 0.25rem;
	align-items: center;
	margin: 3rem 0;
}
.goto_dashboard-text {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5rem;
	color: white;
}
.goto_dashboard-button {
	background-color: white;
	color: #0f766e;
	font-weight: 700;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Hero Section */
.hero_title {
	font-weight: 600;
}
.hero_details {
	margin: 2rem 0;
	font-size: 1.25rem;
	line-height: 2.5rem;
	width: min(47.1rem, 100%);
}
.hero_button {
	background-color: #0f766e;
	color: white;
	border: none;
	outline: none;
	font-weight: 700;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
}
.hero_button:focus {
	outline: none;
	border: none;
}

/* Key Features */
.badge {
	text-align: center;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin: 0 auto;
	justify-content: center;
	margin: 8rem 0;
}

/* Capabilities Section */
.capabilities {
	margin: 8rem 0;
}
.capabilities_description {
	width: min(58rem, 90%);
	text-align: center;
	margin: 0 auto;
	padding: 0.25rem;
}

.capabilities_details {
	font-size: 1.25rem;
	line-height: 2.5rem;
}
.capabilities_features {
	margin: 5rem 0;
	display: grid;

	gap: 1.5rem 2rem;
}
.capabilities_feature-card {
	background-color: #f7f7f7;
	border-radius: 0.25rem;
	width: min(39.375rem, 100%);
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding: 1.5rem 2rem;
}
.capabilities_feature-title {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 700;
}
.capabilities_feature-details {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
}

/* Explore Ai section */
.indebth__title {
	font-size: 3rem;
	line-height: 4rem;
	width: 30.5rem;
	text-align: center;
	font-weight: 600;
	margin: 0 auto;
	margin-bottom: 8rem;
}

.indebth__subject {
	text-align: center;
	padding: 3.6rem 0.75rem;
	position: relative;
}
.indebth__subject::before {
	content: "";
	width: 100%;
	border-top: 0.2rem solid #6b7280;
	position: absolute;
	left: 0;
	top: 0;
}
.indebth__subject-title {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
}
.indebth__subject-subtitle {
	line-height: 2.5rem;
}

/* Guide Section */
.guide {
	margin: 8rem 0;
}
.guide_description {
	margin: 3rem 0;
}
.guide_title {
	font-weight: 600;
	font-size: 3rem;
	line-height: 4.1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}
.guide_details {
	text-align: center;
	font-size: 1.25rem;
	line-height: 2.5rem;
}
.guide_steps-section {
	background-color: #1f2937;
	color: white;
	border-radius: 0.25rem;
}

.guide_step {
	padding: 2.5rem;
}
.guide_step-title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	text-align: center;
}
.guide_step-image {
	display: flex;
	justify-content: center;
	margin: 4rem 0;
}
.guide_step-details {
	width: min(56.25rem, 100%);
	margin: 0 auto;
}
.guide_step-point {
	font-size: 1.125rem;
	line-height: 2.5rem;
	font-weight: 400;
}
.guide_step-point span {
	font-weight: 700;
	font-size: 1.125rem;
}

/* Client Review section */
.client {
	min-height: 100vh;
}
.client__title {
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 3.125rem;
	text-align: center;
	margin-bottom: 5rem;
}

.client__review-column {
	display: flex;
	flex-direction: column;
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
}
.div2 {
	grid-area: 1 / 2 / 2 / 3;
}
.div3 {
	grid-area: 1 / 3 / 2 / 5;
}
.div4 {
	grid-area: 1 / 5 / 2 / 6;
}
.div5 {
	grid-area: 1/6/2/7;
}

.client__review-card {
	border: 0.1rem solid #e9ecf2;
	border-radius: 1rem;
}
.review-1 {
	display: flex;
	padding: 0.75rem;
	gap: 0.5rem;
}
.review-2 {
	min-height: max(60%, 15rem);
	overflow: hidden;
}
.review-3 {
	overflow: hidden;
}
.client__image-3 {
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem;
}
.client__image-circle {
	height: 2.8rem;
	min-width: 2.8rem;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
}

.client__review1-content {
	font-size: 0.875rem;
	margin-top: 0.5rem;
}
.client__review-name {
	font-size: 0.875rem;
	font-weight: 600;
}
.client__review-post {
	font-size: 0.875rem;
	font-weight: 200;
}
.client__review-rating {
	margin-top: 0.4rem;
}

.client__image-2 {
	width: 100%;
	border-radius: 1rem;
	object-fit: cover;
	object-position: center;
}

.client__review2 {
	padding: 0.75rem;
}
.client__review2-content {
	font-size: 0.875rem;
	line-height: 1.6rem;
	margin-bottom: 0.75rem;
}
.client__review3-content {
	font-size: 0.875rem;
	line-height: 1.6rem;
	margin-bottom: 1rem;
}
.client__review3 {
	padding: 0.75rem;
	width: min(100%);
}

/* Footer section */

.footer__feedback {
	background-color: #17181c;
	padding: 2rem 1.5rem;
	position: relative;
}
.footer__feedback-title {
	color: #bf5540;
	font-size: 0.875rem;
	text-transform: uppercase;
}
.footer__feedback-heading {
	color: rgba(255, 255, 255, 0.4);
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 2.25rem;
	margin: 1rem 0;
}
.footer__feedback-heading span {
	color: white;
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 2.25rem;
	margin: 1rem 0;
}
.footer__feedback-input-box {
	width: 100%;
	position: relative;
	margin: 0.75rem 0;
}
.footer__feedback-input {
	padding: 0.75rem 1rem;
	padding-top: 2rem;
	border-radius: 0.25rem;
	background-color: #17181c;
	width: 100%;
	border: 0.1rem solid rgba(255, 255, 255, 0.6);
	outline: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.75rem;
}
.footer__feedback-input:focus {
	outline: none;
}
.footer__feedback-input-label {
	position: absolute;
	top: 0.5rem;
	left: 0.75rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.625rem;
}
.footer__feedback-submit {
	background-color: #bf5540;
	color: white;
	border-radius: 4.125rem;
	padding: 0.625rem 2rem;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.875rem;
}
.footer__feedback-submit:active {
	outline: none;
}
.footer__feedback-privacy {
	position: absolute;
	bottom: 2rem;
	left: 1.5rem;
	font-size: 0.625rem;
	opacity: 40%;
	color: white;
}

.footer__section {
	width: min(100%, 44rem);
}
.footer__section li {
	list-style: none;
	color: white;
	line-height: 1.8rem;
}

.footer__section p {
	color: #bf5540;
	font-size: 0.875rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.footer__links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.footer__subsciption {
	margin: 2rem 0;
}
.footer__subsciption-box {
	position: relative;
}
.footer__subsciption-input {
	margin: 1rem 0;
	width: 100%;
	padding: 0.875rem 1.5rem;
	background-color: #1f2937;
	border: 0.1rem solid rgba(255, 255, 255, 0.125);
	border-radius: 0.25rem;
	color: white;
}
.footer__subsciption-input:focus {
	outline: none;
}
.footer__subsciption-input::placeholder {
	color: rgba(255, 255, 255, 0.125);
}
.footer__subsciption-icon {
	position: absolute;
	right: 1.5rem;
	top: 2rem;
	cursor: pointer;
}
.footer__social-icons {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: white;
	font-size: 0.875rem;
}

/* FAQ section */
.faq_description {
	margin: 3rem 0;
}

.faq_details {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
}
.faq_question_sections {
	margin: 1.5rem 0;
}
.faq_question-individual {
	margin: 2rem 0;
}
.faq_question {
	font-size: 1.125rem;
	font-weight: 600;
}
.faq_question-highlight {
	padding: 0.5rem;
	color: #0369a1;
	border: 0.1rem solid #d1d5db;
	border-radius: 0.25rem;
	cursor: pointer;
}

.faq_answer-section {
	margin: 1.5rem 1rem;
	padding: 0.5rem;
	width: min(62.5rem, 100%);
}

.faq_answer {
	font-size: 1.25rem;
	line-height: 2.5rem;
}
.faq_answer-point {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 600;
}

/* Test Library Section */
.test-library__title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 4rem;
	width: min(90%, 46.875rem);
	text-align: center;
	margin: 2rem auto;
}
.test-library__subtitle {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
	text-align: center;
	margin: 2rem auto;
	width: min(90%, 46.875rem);
}
.test-library__search-section {
	display: flex;
	gap: 2rem;
	width: min(100%, 49.5rem);
	margin: 5rem auto;
}
.test-library__search-input {
	width: min(32.5rem, 100%);
	border: 0.125rem solid #bdbdbd;
	border-radius: 0.5rem;
	padding: 0.5rem 0.75rem;
	color: #bdbdbd;
}
.test-library__search-input:focus {
	outline: none;
}
.test-library__search-input::placeholder {
	color: #bdbdbd;
}
.test-library__select {
	border: 0.125rem solid #bdbdbd;
	border-radius: 0.5rem;
	padding: 0.5rem 0.5rem;
	color: #bdbdbd;
	width: 15rem;
}
.test-library__select:focus {
	outline: none;
}
.test-library__grid {
	display: grid;
	gap: 2rem;
	padding-bottom: 2.5rem;
}

.test__card {
	border: 0.125rem solid #d1d5db;
	border-radius: 0.25rem;
	width: 25.5rem;
	padding: 1.5rem;
}

.test__card-title {
	font-size: 1rem;
	font-weight: 600;
	width: 12.5rem;
	margin-bottom: 1rem;
	line-height: 1.25rem;
}
.test__card-timer {
	display: flex;
	gap: 0.25rem;
	color: #0369a1;
	font-weight: 700;
	font-size: 0.875rem;
	margin-bottom: 1rem;
}
.test__card-details {
	font-weight: 600;
	line-height: 1.25rem;
	margin-bottom: 0.75rem;
}
.test__card-difficulty {
	font-size: 0.875rem;
	color: #6b7280;
	margin-bottom: 0.5rem;
}
.test__card-difficulty-level {
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
}
.test__card-qestions {
	font-size: 0.875rem;
	color: #6b7280;
	margin-bottom: 0.5rem;
}
.test__card-qestions-numbers {
	font-size: 0.875rem;
	font-weight: 700;
}
.test__card-button {
	width: 100%;
	border: 0.125rem solid #0f766e;
	display: block;
	border-radius: 0.25rem;
	padding: 0.5rem 0.25rem;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color: #0f766e;
	margin-top: 1rem;
}


/* Test Page */
.goto__test-library{
	display: flex;
	margin: 2rem 0;
	align-items: center;
	gap: 1rem;
	font-weight: 700;
	line-height: 1.25rem;
}
.test-page__title{
	width:47rem;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 600;
	text-align: center;
	margin: 4rem auto;
}
.test-page__assessment-section{
	margin: 6rem auto;
	display: flex;
	gap: 2.5rem;
	justify-content: space-between;
}
.test__assessment-title{
	font-weight: 700;
	font-size: 1.125rem;
	margin-bottom: 1.25rem;
}
.test__assessment-duration{
	color: #6B7280;
	font-weight: 400;
	font-size: 0.875rem;
	margin: 0.75rem 0;
}
.test__assessment-timer{
	background-color: #E0F2FE;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	color: #0369A1;
	font-size: 0.875rem;
	display: inline-block;
	border-radius: 0.125rem;
	margin-bottom: 1rem;
}
.test__assessment-mini-card{
	width: 20.125rem;
	border: .125rem solid #d1d5db;
	border-radius: 0.25rem;
	padding: 0.75rem;
	margin: .75rem 0;
}
.test__assessment-instructions{
	border: .125rem solid #d1d5db;
	border-radius: 0.25rem;
	padding: 2.5rem;
	width: 54.5rem;
}
.test__assessment-list-title{
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1.3rem;
}
.test__assessment-list{
	margin: 1rem;
	margin-left: 1.75rem;
}
.test__assessment-list li{
	line-height: 2.125rem;
}
.test-page__about{
	margin: 5rem 0;
}
.test__about-title{
	font-size: 1.5rem;
	line-height: 2.125rem;
	font-weight: 700;
	margin: 2rem 0;
}
.test__about-details{
	color: #656565;
	line-height: 1.5rem;
}