@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}

@media (min-width: 1920px) {
	* {
		font-size: 16px;
	}
}

@media (min-width: 1440px) and (max-width: 1919px) {
	* {
		font-size: 13.5px;
	}
}

@media (min-width: 720px) and (max-width: 1439px) {
	* {
		font-size: 12px;
	}
}

/* Large secreen media query */
@media (min-width: 720px) {
	.main {
		width: min(81.25rem, 90%);
		margin: 0 auto;
	}

	.hero {
		display: flex;
		justify-content: space-between;
		margin: 8rem 0;
		align-items: center;
		gap: 6rem;
	}

	.hero_title {
		line-height: 4rem;
		font-size: 3rem;
	}

	.hero_details {
		margin: 2rem 0;
	}

	.capabilities_features {
		grid-template-columns: 1fr 1fr;
	}

	.capabilities_title {
		font-size: 3rem;
		line-height: 4rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
	}

	.indebth__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}

	.client__review-grid {
		/* max-width: 1400px; */
		display: grid;
		grid-template-columns: 1fr 1fr minmax(25rem, 2fr) 1fr 1fr;
		grid-column-gap: 0.5rem;
		grid-row-gap: 0rem;
		margin: 2rem auto;
	}

	.test-library__grid-wrapper {
		margin: 3rem 0;
	}

	.client__review-column {
		gap: 0.5rem;
	}

	.review-1 {
		width: min(100%, 15rem);
	}

	.review-2 {
		width: min(100%, 15rem);
	}

	.review-3 {
		display: flex;
		gap: 0.75rem;
	}

	.client__review1 {
		width: 12.5rem;
	}

	.client__image-3 {
		aspect-ratio: 1/1;
		max-width: 10rem;
	}

	.faq_question {
		line-height: 1rem;
	}

	.faq_title {
		font-size: 3rem;
		line-height: 4rem;
		font-weight: 600;
		margin-bottom: 1.5rem;
		margin-top: 5rem;
	}

	.footer__feedback {
		width: min(90%, 24.5rem);
	}

	.footer {
		padding: 4rem 10rem;
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
		background-color: #1f2937;
		border-radius: 0.25rem;
	}

	.test-library__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.test__card {
		width: 25.5rem;
	}

	.test-library__search-input {
		width: min(32.5rem, 100%);
	}

	.test-library__select {
		width: 15rem;
	}
}

@media (max-width: 719px) {
	.main {
		padding: 0 0.5rem;
	}

	.nav_link {
		display: none;
	}

	.navbar_user span {
		display: none;
	}

	.goto_dashboard {
		flex-direction: column;
		gap: 0.5rem;
	}

	.hero {
		margin: 2.5rem 0;
	}

	.hero_title {
		text-align: center;
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.hero_details {
		text-align: center;
		margin: 2rem auto;
	}

	.hero_description {
		text-align: center;
	}

	.hero_button {
		margin: 1rem auto;
	}

	.capabilities_title {
		text-align: center;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1rem;
	}

	.faq {
		padding: 0 1rem;
	}

	.faq_question {
		line-height: 2rem;
	}

	.faq_title {
		text-align: center;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 1rem;
	}

	.faq_details {
		text-align: center;
	}

	.hero_image {
		width: 90%;
		margin: 1rem auto;
	}

	.hero_image-section {
		display: flex;
		justify-content: center;
	}

	.client__review-card {
		margin: 1rem;
	}

	.footer__section {
		background-color: #1f2937;
		padding: 1rem;
	}

	.footer__feedback {
		margin: 0 auto;
		height: 40rem;
	}

	.test-library__grid {
		place-content: center;
	}

	.test__card {
		margin: 0 auto;
	}

	.client__image-3 {
		max-width: 100%;
	}

	.test-library__grid {
		grid-template-columns: 1fr;
	}

	.test__card {
		width: 80%;
		margin: 0 auto;
	}

	.test-library__search-section {
		flex-direction: column;
		align-items: center;
	}

	.test-library__search-input {
		width: 80%;
	}

	.test-library__select {
		width: 15rem;
	}
}

@media screen and (min-width:320px) {
	* {
		font-size: 14.5px;
	}
}


/* Navbar */
.navbar {
	/* position: relative; */
	display: flex;
	justify-content: space-between;
	padding: 1rem 2.5rem;
	align-items: center;
	box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(209, 213, 219, 1);
	overflow: hidden;
}


.mobile_navbar_cnt {
	position: relative;
	overflow: hidden;
	z-index: 1000;
}

.mobile_navbar {
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 1001;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	font-size: 1rem;
	padding: 2rem 1.5rem;
	row-gap: 3rem;
	transform: translateX(-219%);
	width: 0;
	height: 100vh;
	overflow: hidden;
	transition: .5s ease-in-out;
}

.mobile_navbar.nav--open {
	transform: translateX(0%);
	width: 100%;
}

#mobile-menu {
	display: none;
}

#mobile-menu img {
	width: 50px;
}

.navbar_links {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.nav_link {
	text-decoration: none;
	font-size: 1.125rem;
	font-weight: 600;
	color: #6b7280;
	line-height: 1.5rem;
}

.active_link {
	color: #0f766e;
	position: relative;
}

.active_link::after {
	content: "";
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	background-color: #0f766e;
	width: 100%;
	height: 0.2rem;
}

.navbar_user {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navbar_user span {
	font-size: 1.125rem;
}

.navbar_button {
	padding: 0.75rem 1.5rem;
	background-color: #0f766e;
	color: white;
	font-weight: 700;
	display: flex;
	border: none;
	gap: 1rem;
	border-radius: 0.25rem;
	outline: none;
	align-items: center;
	cursor: pointer;
}

/* Main section */

/* Goto section */
.goto_dashboard {
	background-color: #1f2937;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	border-radius: 0.25rem;
	align-items: center;
	margin: 3rem 0;
}

.goto_dashboard-text {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5rem;
	color: white;
}

.goto_dashboard-button {
	background-color: white;
	color: #0f766e;
	font-weight: 700;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	border: none;
	outline: none;
	cursor: pointer;
}

/* Hero Section */
.hero_title {
	font-weight: 600;
}

.hero_details {
	font-size: 1.25rem;
	line-height: 2.5rem;
	width: min(47rem, 100%);
}

.hero_button {
	background-color: #0f766e;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	color: white;
	border: none;
	outline: none;
	font-weight: 700;
	padding: 0.75rem 1.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.hero_button:focus {
	outline: none;
	border: none;
}

/* Key Features */
.badge {
	text-align: center;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	margin: 0 auto;
	justify-content: center;
	margin: 8rem 0;
}

/* Capabilities Section */
.capabilities {
	margin: 8rem 0;
}

.capabilities_description {
	width: min(58rem, 90%);
	text-align: center;
	margin: 0 auto;
	padding: 0.25rem;
}

.capabilities_details {
	font-size: 1.25rem;
	line-height: 2.5rem;
}

.capabilities_features {
	margin: 5rem 0;
	display: grid;

	gap: 1.5rem 2rem;
}

.capabilities_feature-card {
	background-color: #f7f7f7;
	border-radius: 0.25rem;
	width: min(39.375rem, 100%);
	display: flex;
	align-items: center;
	gap: 1.2rem;
	padding: 1.5rem 2rem;
}

.capabilities_feature-title {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 700;
}

.capabilities_feature-details {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
}

/* Explore Ai section */
.indebth__title {
	font-size: 3rem;
	line-height: 4rem;
	width: 30.5rem;
	text-align: center;
	font-weight: 600;
	margin: 0 auto;
	margin-bottom: 8rem;
}

.indebth__subject {
	text-align: center;
	padding: 3.6rem 0.75rem;
	position: relative;
}

.indebth__subject::before {
	content: "";
	width: 100%;
	border-top: 0.2rem solid #6b7280;
	position: absolute;
	left: 0;
	top: 0;
}

.indebth__subject-title {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
}

.indebth__subject-subtitle {
	line-height: 2.5rem;
}

/* Guide Section */
.guide {
	margin: 8rem 0;
}

.guide_description {
	margin: 3rem 0;
}

.guide_title {
	font-weight: 600;
	font-size: 3rem;
	line-height: 4.1rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

.guide_details {
	text-align: center;
	font-size: 1.25rem;
	line-height: 2.5rem;
}

.guide_steps-section {
	background-color: #1f2937;
	color: white;
	border-radius: 0.25rem;
}

.guide_step {
	padding: 2.5rem;
}

.guide_step-title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2rem;
	text-align: center;
}

.guide_step-image {
	display: flex;
	justify-content: center;
	margin: 4rem 0;
}

.guide_step-details {
	width: min(56.25rem, 100%);
	margin: 0 auto;
}

.guide_step-point {
	font-size: 1.125rem;
	line-height: 2.5rem;
	font-weight: 400;
}

.guide_step-point span {
	font-weight: 700;
	font-size: 1.125rem;
}

/* Client Review section */
.client {
	min-height: 100vh;
	display: none;
}

.client__title {
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 3.125rem;
	text-align: center;
	margin-bottom: 5rem;
}

.client__review-column {
	display: flex;
	flex-direction: column;
}

.client__review-card {
	border: 0.1rem solid #e9ecf2;
	border-radius: 1rem;
}

.review-1 {
	display: flex;
	padding: 0.75rem;
	gap: 0.5rem;
}

.review-2 {
	min-height: max(60%, 15rem);
	overflow: hidden;
}

.review-3 {
	overflow: hidden;
}

.client__image-3 {
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	border-radius: 1rem;
}

.client__image-circle {
	height: 2.8rem;
	min-width: 2.8rem;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
}

.client__review1-content {
	font-size: 0.675rem;
	margin-top: 0.5rem;
}

.client__review-name {
	font-size: 0.875rem;
	font-weight: 600;
}

.client__review-post {
	font-size: 0.875rem;
	font-weight: 200;
}

.client__review-rating {
	margin-top: 0.4rem;
}

.client__image-2 {
	width: 100%;
	border-radius: 1rem;
	object-fit: cover;
	object-position: center;
}

.client__review2 {
	padding: 0.75rem;
}

.client__review2-content {
	font-size: 0.675rem;
	line-height: 1.6rem;
	margin-bottom: 0.75rem;
}

.client__review3-content {
	font-size: 0.675rem;
	line-height: 1.6rem;
	margin-bottom: 1rem;
}

.client__review3 {
	padding: 0.75rem;
	width: min(100%);
}

/* Footer section */

.footer__feedback {
	background-color: #17181c;
	padding: 2rem 1.5rem;
	position: relative;
}

.footer__feedback-title {
	color: #bf5540;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.footer__feedback-heading {
	color: rgba(255, 255, 255, 0.4);
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 2.25rem;
	margin: 1rem 0;
}

.footer__feedback-heading span {
	color: white;
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 2.25rem;
	margin: 1rem 0;
}

.footer__feedback-input-box {
	width: 100%;
	position: relative;
	margin: 0.75rem 0;
}

.footer__feedback-input {
	padding: 0.75rem 1rem;
	padding-top: 2rem;
	border-radius: 0.25rem;
	background-color: #17181c;
	width: 100%;
	border: 0.1rem solid rgba(255, 255, 255, 0.6);
	outline: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.75rem;
}

.footer__feedback-input:focus {
	outline: none;
}

.footer__feedback-input-label {
	position: absolute;
	top: 0.5rem;
	left: 0.75rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.625rem;
}

.footer__feedback-submit {
	background-color: #bf5540;
	color: white;
	border-radius: 4.125rem;
	padding: 0.625rem 2rem;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.875rem;
}

.footer__feedback-submit:active {
	outline: none;
}

.footer__feedback-privacy {
	position: absolute;
	bottom: 2rem;
	left: 1.5rem;
	font-size: 0.625rem;
	opacity: 40%;
	color: white;
}

.footer__section {
	width: min(100%, 44rem);
}

.footer__section li {
	list-style: none;
	color: white;
	line-height: 1.8rem;
}

.footer__section p {
	color: #bf5540;
	font-size: 0.875rem;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

.footer__links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
	align-items: start;
}

.footer__subsciption {
	margin: 4rem 0;
}

.footer__subsciption-box {
	position: relative;
}

.footer__subsciption-input {
	margin: 1rem 0;
	width: 100%;
	padding: 0.875rem 1.5rem;
	background-color: #1f2937;
	border: 0.1rem solid rgba(255, 255, 255, 0.125);
	border-radius: 0.25rem;
	color: white;
}

.footer__subsciption-input:focus {
	outline: none;
}

.footer__subsciption-input::placeholder {
	color: rgba(255, 255, 255, 0.125);
}

.footer__subsciption-icon {
	position: absolute;
	right: 1.5rem;
	top: 1.8rem;
	cursor: pointer;
}

.footer__social-icons {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: white;
	font-size: 0.875rem;
}

.footer__social-icons img {
	margin: 0 0.25rem;
}

.footer__social-icons span {
	color: #ffffff;
	opacity: 40%;
	font-size: 0.635rem;
}

/* FAQ section */
.faq_description {
	margin: 3rem 0;
}

.faq_details {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
}

.faq_question_sections {
	margin: 1.5rem 0;
}

.faq_question-individual {
	margin: 2rem 0;
}

.faq_question {
	font-size: 1.125rem;
	font-weight: 600;
}

.faq_question-highlight {
	padding: 0.5rem;
	color: #0369a1;
	border: 0.1rem solid #d1d5db;
	border-radius: 0.25rem;
	cursor: pointer;
}

.faq_answer-section {
	margin: 1.5rem 1rem;
	padding: 0.5rem;
	width: min(62.5rem, 100%);
}

.faq_answer {
	font-size: 1.25rem;
	line-height: 2.5rem;
}

.faq_answer-point {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 600;
}

/* Test Library Section */
.test-library__title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 4rem;
	width: min(90%, 46.875rem);
	text-align: center;
	margin: 2rem auto;
	margin-top: 5rem;
}

.test-library__subtitle {
	font-size: 1.25rem;
	line-height: 2.5rem;
	font-weight: 400;
	text-align: center;
	margin: 2rem auto;
	width: min(90%, 46.875rem);
}

.test-library__search-section {
	display: flex;
	gap: 2rem;
	width: min(100%, 49.5rem);
	margin: 5rem auto;
	justify-content: center;
}

.test-library__search-input {
	border: 0.125rem solid #bdbdbd;
	border-radius: 0.5rem;
	padding: 0.5rem 0.75rem;
	color: #bdbdbd;
}

.test-library__search-input:focus {
	outline: none;
}

.test-library__search-input::placeholder {
	color: #bdbdbd;
}

.test-library__select {
	border: 0.125rem solid #bdbdbd;
	border-radius: 0.5rem;
	padding: 0.5rem 0.5rem;
	color: #bdbdbd;
}

.test-library__select:focus {
	outline: none;
}

.test-library__grid {
	display: grid;
	gap: 2rem;
	padding-bottom: 2.5rem;
}

.test__card {
	border: 0.125rem solid #d1d5db;
	border-radius: 0.25rem;
	padding: 1.5rem;
}

.test__card-title {
	font-size: 1rem;
	font-weight: 600;
	width: 12.5rem;
	margin-bottom: 1rem;
	line-height: 1.25rem;
}

.test__card-timer {
	display: flex;
	gap: 0.25rem;
	color: #0369a1;
	font-weight: 700;
	font-size: 0.875rem;
	margin-bottom: 1rem;
}

.test__card-details {
	font-weight: 600;
	line-height: 1.25rem;
	margin-bottom: 0.75rem;
}

.test__card-difficulty {
	font-size: 0.875rem;
	color: #6b7280;
	margin-bottom: 0.5rem;
}

.test__card-difficulty-level {
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.75rem;
	color: #1f2937;
}

.test__card-qestions {
	font-size: 0.875rem;
	color: #6b7280;
	margin-bottom: 0.5rem;
}

.test__card-qestions-numbers {
	font-size: 0.875rem;
	font-weight: 700;
	color: #1f2937;
}

.test__card-button {
	width: 100%;
	border: 0.125rem solid #0f766e;
	display: block;
	border-radius: 0.25rem;
	padding: 0.5rem 0.25rem;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	color: #0f766e;
	margin-top: 1rem;
	cursor: pointer;
}

/* Test Page */
@media (min-width: 720px) {
	.test-page__title {
		width: 47rem;
	}

	.test-page__assessment-section {
		display: flex;
		gap: 2.5rem;
		justify-content: space-between;
	}

	.test__assessment-instructions {
		width: 54.5rem;
	}

	.expert__details-section {
		display: flex;
		justify-content: space-between;
	}

	.expert__details {
		width: 59.2rem;
	}

	.test__assessment-mini-card {
		width: 20.125rem;
	}
}

@media (max-width: 719px) {
	.expert__image {
		margin: 2rem auto;
	}

	.test__assessment-title {
		text-align: center;
	}

	.test__assessment-duration {
		text-align: center;
	}

	.test__assessment-timer {
		margin: 2rem auto;
		display: flex;
		justify-content: center;
	}
}

.goto__test-library {
	display: flex;
	margin: 2rem 0;
	align-items: center;
	gap: 1rem;
	font-weight: 700;
	line-height: 1.25rem;
}

.test-page__title {
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 600;
	text-align: center;
	margin: 4rem auto;
}

.test-page__assessment-section {
	margin: 6rem auto;
}

.test__assessment-title {
	font-weight: 700;
	font-size: 1.125rem;
	margin-bottom: 1.25rem;
}

.test__assessment-duration {
	color: #6b7280;
	font-weight: 400;
	font-size: 0.875rem;
	margin: 0.75rem 0;
}

.test__assessment-timer {
	background-color: #e0f2fe;
	padding: 0.75rem 1.5rem;
	font-weight: 700;
	color: #0369a1;
	font-size: 0.875rem;
	width: 6rem;
	border-radius: 0.125rem;
	margin-bottom: 1rem;
}

.test__assessment-mini-card {
	border: 0.125rem solid #d1d5db;
	border-radius: 0.25rem;
	padding: 0.75rem;
	margin: 0.75rem 0;
}

.test__assessment-mini-card p {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.test__assessment-mini-card span {
	color: #6b7280;
	font-weight: 600;
}

.test__assessment-instructions {
	border: 0.125rem solid #d1d5db;
	border-radius: 0.25rem;
	padding: 2.5rem;
}

.test__assessment-list-title {
	margin-bottom: 1rem;
	font-weight: 700;
	line-height: 1.3rem;
}

.test__assessment-list {
	margin: 1rem;
	margin-left: 1.75rem;
}

.test__assessment-list li {
	line-height: 2.125rem;
}

.test-page__about {
	margin: 5rem 0;
}

.test__about-title {
	font-size: 1.5rem;
	line-height: 2.125rem;
	font-weight: 700;
	margin: 2rem 0;
	color: #3d3d3d;
}

.test__about-details {
	color: #656565;
	line-height: 1.5rem;
}

.test-expert__section {
	margin: 5rem 0;
}

.expert__title {
	font-size: 1.5rem;
	line-height: 2.125rem;
	font-weight: 700;
	margin: 2rem 0;
	color: #3d3d3d;
}

.expert__image {
	width: 17.5rem;
	height: 15rem;
	overflow: hidden;
	object-fit: cover;
	object-position: top;
}

.expert__details {
	color: #656565;
	line-height: 1.5rem;
}

.related__section {
	margin: 6rem 0;
	color: #1f2937;
}

.related__title {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

.pricing__cnt {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 3rem;
	margin: 5rem auto;
}

.pricing__card {
	width: min(100%, 23.75rem);
	padding: 1.25rem;
	border-radius: 0.25rem;
	text-align: center;
	border: 0.125rem solid #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: start;
	transition-duration: 0.3s;
}

.pricing__card:hover {
	scale: 105%;
	border: 0.125rem solid #fc973b;
}

.pricing__card-title {
	font-size: 1.375rem;
	font-weight: 600;
	color: #222222;
	margin-bottom: 0.875rem;
}

.pricing__card-pricing {
	margin-bottom: 2rem;
}

.pricing__card-amount {
	font-size: 2.625rem;
	font-weight: 600;
	line-height: 3rem;
	color: #000000;
}

.pricing__card-month {
	font-size: 0.875rem;
	font-weight: 400;
	color: #606f7b;
}

.pricing__feature-list {
	list-style: none;
}

.pricing__feature-list li {
	display: flex;
	align-items: center;
	gap: 1rem;
	line-height: 1.5rem;
	margin: 0.875rem 0;
	color: #606f7b;
}

.pricing__feature-bold {
	font-weight: 600;
	color: #000000;
}

.pricing__button {
	color: #222222;
	font-weight: 600;
	line-height: 1.5rem;
	text-align: center;
	padding: 0.75rem 1rem;
	border: 0.125rem solid #222222;
	background-color: transparent;
	border-radius: 0.25rem;
	width: 13rem;
	margin: 1rem auto;
	cursor: pointer;
	transition: 0.3s;
}

.pricing__button:hover {
	background-color: #222222;
	color: #fff;
}

.pricing__button:focus {
	outline: none;
}

.pricing__modal {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem 1.75rem;
	border: none;
	border-radius: 0.25rem;
	box-shadow: 0.3rem 1rem 2rem #656565;
	transition: 0.4s;
}

.pricing__modal-content {
	margin-bottom: 1.75rem;
}

.pricing__modal-close {
	color: #000000;
	border: 0.125rem solid #000000;
	background-color: white;
	padding: 0.5rem 1.75rem;
	border-radius: 0.25rem;
	font-weight: 600;
	cursor: pointer;
	transition: 0.3s;
}

.pricing__modal-close:hover {
	background-color: #000000;
	color: #ffffff;
}


@media screen and (max-width: 719px) {
	#mobile-menu {
		display: block;
	}

	.nav_link.mobile {
		display: block;
	}

	.mobile_navbar .nav_link.mobile {
		display: block;
		font-size: 2.2rem;

	}
}

@media screen and (max-width: 420px) {
	.indebth__title {
		width: auto;
	}

}





/* ------ testimonial section ------ */

.outerdiv {
	width: 100%;
	min-height: 100vh;
	/* background: #EDF2F8; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.innerdiv {
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2, 22rem);
	grid-template-columns: repeat(4, 17rem);
}

.eachdiv {
	padding: 1rem 2rem;
	border-radius: 0.8rem;
	box-shadow: 5px 5px 20px #6d6b6b6b;
	color: white;
}

.div1 {
	/* background: #733FC8; */
	background-color: white;
	grid-column: 1/3;
	grid-row: 1/2;
	/* background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg); */
	background-repeat: no-repeat;
	background-position-x: 25rem;
	color: black;
}

.div2 {
	/* background: #49556B; */
	background-color: white;
	grid-column: 3/4;
	grid-row: 1/2;
}

.div3 {
	background: white;
	grid-column: 4/5;
	grid-row: 1/3;
	color: black;
}

.div4 {
	background: white;
	grid-column: 1/2;
	grid-row: 2/3;
	color: black;
}

.div5 {
	/* background: #18202D; */
	background-color: white;
	grid-column: 2/4;
	grid-row: 2/3;
}

.userdetails {
	display: flex;
}

.imgbox {
	margin-right: 1rem;
}

.imgbox img {
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}

.detbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.detbox p {
	margin: 0;
}

.detbox .name {
	/* color: hsl(0, 0%, 81%); */
	font-size: 0.9rem;
	margin-bottom: 0.1rem;
	font-weight: 600;
}

.detbox .name.dark {
	color: #49505A;
}

.detbox .designation {
	/* color: hsl(0, 0%, 81%); */
	color: black;
	opacity: 50%;
	font-size: 0.8rem;
}

.detbox .designation.dark {
	color: #49505A;
}

.review h4 {
	font-size: 1.4rem;
	/* color: #F3DEFF; */
	color: black;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 0.8rem;
}

.review.dark h4 {
	/* color: #4B5258; */
	color: black;
}

.review p {
	font-size: 0.95rem;
	/* color: #F3DEFF; */
	color: black;
	font-weight: 500;
	opacity: 50%;
	line-height: 1.5;
}

.review.dark p {
	color: #0e0e0e;
}

.attribution {
	font-size: 1rem;
	line-height: 1.5;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	text-align: right;
}

.attribution a {
	text-decoration: none;
}

@media only screen and (max-width: 1000px) {
	.innerdiv {
		transform: scale(0.7);
	}
}

@media only screen and (max-width: 800px) {
	.innerdiv {
		transform: scale(0.6);
	}
}

@media only screen and (max-width: 600px) {
	.div1 {
		background-position-x: 10rem;
	}

	.innerdiv {
		display: flex;
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}

	.attribution {
		position: relative;
	}
}